{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "import/no-unresolved": 0,
    "react/jsx-props-no-spreading": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}
